@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-600);
  --color-button-submit: var(--color-blue-300);
  --color-dialog-bg: var(--color-gray-200);
  --color-dialog-text: var(--color-red-600);
}